.timer {
  text-align: center;
  height: 100px;
}

footer {
  font-size: 0.8rem;
}

.main-container {
  width: 100%;
}

.perspective-parent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
}

.player-1-container,
.player-2-container {
  font-size: 2.5vw;
  width: 15vw;
  height: 15vw;
  background-color: var(--main-box-color);
  box-shadow: 0 0 10px mistyrose;
  border-radius: 10px;
  opacity: 0.9;
  text-align: center;
  line-height: 15vw;
}

.player1-icon,
.player2-icon {
  position: relative;
  width: 8vw;
  height: 8vw;
  top: 1rem;
  z-index: -1;
  color: whitesmoke;
}

.player-1-container > .name,
.player-2-container > .name {
  /* position: absolute; */
  text-align: center;
}

.game-board-container {
  box-shadow: 0 0 40px var(--main-game-board-color);
  opacity: 0.8;
  width: 44.9vw;
  height: 44.9vw;
  display: flex;
}

.game-board {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  border: 2px solid var(--main-game-board-color);
  box-shadow: inset 0 0 50px var(--main-game-board-color);
}

.game-board-square {
  width: 12vw;
  height: 12vw;
  background-color: var(--main-box-color);
  display: grid;
  place-items: center;
  box-shadow: 0 0 10px mistyrose;
  border-radius: 20px;
}

.piece {
  color: black;
  transition: 0.3s;
}

.clicked {
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: scale(0.8);
  background-color: gray;
}

.hidden {
  display: none;
}

#game-state-display {
  margin: 3rem auto;
  text-align: center;
}

button.restart-btn {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-size: inherit;
  background-color: rgb(21, 21, 34);
  text-decoration: none;
  border-radius: 10px;
  border: none;
  color: white;
}
