:root {
  --main-bg-color: radial-gradient(#1b1b2c, #000000);
  --main-box-color: rgba(66, 66, 66, 0.5);
  --main-text-color: white;
  --main-font-size: 1.5rem;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Monda', sans-serif;
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  line-height: 1.5;
  height: 100vh;
  font-weight: 100;
  background: var(--main-bg-color);
  overflow-y: hidden;
  display: flex;
}
