:root {
  --main-bg-color: black;
  --main-box-color: mistyrose;
  --main-text-color: white;
  --main-font-size: 1.5rem;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  line-height: 1.5;
}

header {
  text-align: center;
}

footer {
  font-size: 0.8rem;
}

.top {
  height: 300px;
}

/* .container {
} */

.perspective-parent {
  perspective: 500px;
  width: 600px;
  height: 400px;
  margin: 0 10rem;
}

.perspective-container {
  /* box-shadow: 0 0 50px darkblue; */
  width: 100%;
  height: 100%;
  transform: rotateX(50deg);
  transform-style: preserve-3d;
  display: flex;
}

.game-board {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  /* perspective: 600px; */
  /* transform: rotateX(50deg); */
  transform-style: preserve-3d;

  border: 2px solid darkblue;
  box-shadow: 0 0 50px darkblue;
  box-shadow: inset 0 0 50px darkblue;
}

.game-board-square {
  width: 110px;
  height: 110px;
  background-color: var(--main-box-color);
  display: grid;
  place-items: center;
  box-shadow: 0 0 10px mistyrose;
  border-radius: 20px;
  /* transform: rotateX(40deg); */
}

.row-1,
.row-2,
.row-3 {
  width: 100px;
  height: 380px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  /* transform: rotateX(40deg); */
}

.piece {
  color: black;
  transition: 0.3s;
}

/* .square8,
.square7,
.square6 {
  transform: scale(1.5) rotateX(45deg);
}

.square3,
.square4,
.square5 {
  transform: scale(1.2) rotateX(45deg);
}

.square0,
.square1,
.square2 {
  transform: scale(1.1) rotateX(45deg);
} */

.clicked {
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  transform: scale(0.8, 0.6) rotateX(-40deg);
}

/* .tick-tak-shooter-container {
  
} */

.shooter {
  margin-left: 6rem;
  width: 50px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
}

#cannon-img {
  position: absolute;
  margin-left: 6rem;
  top: -40px;
  display: block;
  transform: rotateX(-50deg);
  z-index: 2;
}

#game-state-display {
  margin: 3rem auto;
}
